extends layout

block content
  h1= title
  p Welcome to Baley's #{title}
  .tabs 
    button.taplinks(onclick="openTab('Home')") Home
    button.taplinks(onclick="openTab('New Post')") New Post
    button.taplinks(onclick="openTab('Remove Post')") Remove Post
    button.taplinks(onclick="openTab('Edit Post')") Edit Post
    button.taplinks(onclick="openTab('Login/Create Account')") Login/Create Account

  ol 
    li Blog Post
